html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{
	padding:0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color:#0F0F0F;
}
img,body,html{border:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
li{ float:left;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
p{ line-height:160%;}

textarea{border:solid 1px #bcc5d0; line-height:20px;margin-left:3px; margin-right:3px;} 
select{border:solid 1px #999; line-height:20px;}
html,body {background-color:#faebd7;}
body {font-family: ו,Arial, Helvetica;font-size: 16px;line-height:22px;margin:0px;background-attachment:fixed;}
span{font-size: 16px; line-height:22px;}
a{color:#19537D;text-decoration: none; font-size:16px; line-height:22px;}

.head{ width:100%; height:50px; clear:both; background-color:#c33; border-bottom:1px solid #cc4e4e;}
.head a{ color:#f7f1e8; float:left; font-size:25px; line-height:50px; height:50px; margin-left:10px;}
.head span{height:50px; line-height:50px; float:right;}

.navtop{width:100%; clear:both; background-color:#d9534f; border-bottom:1px solid #a26857; height:35px;}
.navtop a{ width:20%; height:35px; line-height:35px; float:left; text-align:center; color:#f7f1e8; font-size:16px;}
.navtop .search{ width:100%; clear:both; margin-top:5px; height:auto; overflow:hidden;}
.navtop .active{border-bottom:2px solid #f7f7f7;}
.search,.input-css,.button-css{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.search{height:46px;padding: 0px;}
.search .input-css {width:80%;position:absolute;	outline:none;height:46px;border:2px solid #c5464a;border-radius:0px;padding:0px;left:0;}
.search .input-css input[type=text] {font-size:16px;position:absolute;	width:70%;outline:none;height:42px;border:2px ;background:transparent;padding:0px 10px;}
.search button[type=button]{height:46px;border:2px solid #c5464a;border-radius:0px;position:absolute;background:#c33;color: #f7f1e8;padding:0px;outline:none;width: 20%;right:0;}
.search button[type=submit]{height:46px;border:2px solid #c5464a;border-radius:0px;position:absolute;background:#c33;color: #f7f1e8;padding:0px;outline:none;width: 20%;right:0;}
.search .input-css select{width: 25%;height: 42px;font-size: 14px;border: 0px solid #c33;font: 16px/22px arial;margin-right: 2px;padding: 2px;background:#faebd7;text-align:center;}

.main{ width:auto; clear:both; margin-left:auto; margin-right:auto; margin-top:5px; overflow:hidden; }
.main .title{height:50px; line-height:50px; padding-left:10px; padding-right:10px; margin-top:10px; font-size:20px; clear:both; background-color:#f7f1e8;;color:#65645F; overflow:hidden; border:1px solid #C8C7BC; font-weight:bold;}
.main .title a{font-size: 20px;margin-right: 6px;margin-top: 14px;font-weight: bold;color: #19537D;}
.main .title .titleleft{ height:22px; width:3px; margin-top:13px; float:left; clear:left; background-color:#825d5b; margin-right:8px;}

.main .toptype{ height:auto;margin-top:10px;clear:both; background-color:#f7f1e8; overflow:hidden; border:1px solid #C8C7BC; padding-bottom:2px;}
.main .toptype .topkey{float:left; font-size:18px; overflow:hidden; height:37px; line-height:37px; margin-top:3px; margin-left:10px; margin-right:5px; color:#65645F;}
.main .toptype .son1{clear:both; height:40px; line-height:40px; margin-top:5px; font-size:22px; border-bottom:1px solid #DAD9D1; margin-left:10px; margin-right:10px;}
.main .toptype .son1 span{ float:right; font-size:14px; height:40px; line-height:40px;  margin-top:2px; font-weight:normal; color:#999999;}
.main .toptype .son2{ width:100%; margin-left:10px; clear:both; border-bottom:1px dashed #DAD9D1; overflow:hidden; padding-bottom:5px;}
.main .toptype .son2 .sleft{ width:54px; float:left; color:#275F38;}
.main .toptype .son2 .sleft span{ float:left; margin-top:14px; font-size:18px;}
.main .toptype .son2 .sleft a{ float:left; margin-top:14px; font-size:18px;}
.main .toptype .son2 .sright{ width:76%; float:left;}
.main .toptype .son2 .sright a{ float:left;margin-top:14px; width:54px; font-size:18px; overflow:hidden; height:22px;}
.main .toptype .son2 .sright span{float:left;margin-top:14px; width:54px; color:#B00815; font-size:18px; overflow:hidden; height:22px;}
.main .toptype .son2 .sright2{ width:12px; float:left; margin-top:14px;}
.main .toptype .son2 .sright2 img{cursor:pointer;}
.main .toptype .son2 .booksort{ width:76%; float:left;}
.main .toptype .son2 .booksort a{ width:auto; margin-right:16px;float:left;margin-top:14px; font-size:18px; overflow:hidden; height:22px;}
.main .toptype .son2 .booksort2{ width:12px; float:left; margin-top:14px;}
.main .toptype .son2 .booksort2 img{cursor:pointer;}
/*gushici-box center*/
.main .gushici{ text-align:center;height:auto; clear:both; background-color:#f7f1e8; overflow:hidden; margin-top:10px; border:1px solid #C8C7BC;}
.main .gushici .to{ height:20px; clear:both; line-height:20px; margin-top:10px;  margin-left:10px; font-weight:bold;}
.main .gushici .to a{color:#212121;}

.main .gushici .gushici-box{ height:auto; clear:both; margin-top:12px;  margin-left:10px; margin-right:10px; margin-bottom: 15px; font-size:18px; line-height:160%; overflow:hidden;}
.main .gushici .gushici-box p{ margin-bottom:10px; font-size:18px;line-height:160%;}
.main .gushici .gushici-box a{ font-size:18px;line-height:160%;}
.main .gushici .gushici-box span{ font-size:18px;line-height:160%;}

.main .gushici .gushici-box .yizhu{ width:160px; height:30px; float:right;}
.main .gushici .gushici-box .yizhu img{ float:right; cursor:pointer; margin-left:15px;}

.main .gushici .fanyi{ height:auto; clear:both; margin-top:7px;  margin-left:10px; margin-right:10px; line-height:160%; font-size:18px; overflow:hidden;}
.main .gushici .fanyi p{ margin-bottom:10px; font-size:18px;line-height:160%;}
.main .gushici .fanyi a{ font-size:18px; color:#19537D; line-height:160%; text-decoration:underline;}
.main .gushici .fanyi span{ font-size:18px;line-height:160%;}
.main .gushici .fanyi .gushici-box-text{ clear:both; overflow:hidden;}

.main .gushici .gushici-box .gushici-box-text{ text-align:left;display:inline-block;clear:both; overflow:hidden;}
.main .gushici .gushici-box .gushici-box-text .co{ color:#B00815;}
.main .gushici .gushici-box .gushici-box-text .hr{ height:15px; margin-top:15px; overflow:hidden; border-top:1px solid #DAD9D1;}
.main .gushici .gushici-box .gushici-box-text a{font-size:18px;color:#0F0F0F;text-decoration: none;line-height: 18px;}
.main .gushici .gushici-boxpre{ height:auto; clear:both; margin-top:10px; color:#5D6146; font-size:16px; margin-left:10px; margin-right:10px; line-height:160%;}
.main .gushici .gushici-boxpre p{ margin-top:10px; line-height:160%;color:#5D6146; font-size:16px;}
.main .gushici .source a{font-size:16px; color:#65645F;}
.main .gushici .source span{font-size:16px; color:#65645F;}
.main .gushici .tag{ height:auto; clear:both; margin:10px; margin-top:0px; border-top:1px solid #D8DACF; overflow:hidden;padding-top:10px;}
.main .gushici .tag a{ font-size:14px; float:none;color:#999999; line-height:22px; height:22px; }
.main .gushici .tag span{ font-size:14px; float:none;color:#999999; line-height:22px; height:22px;}

.main .shici{ height:auto; clear:both; background-color:#f7f1e8; overflow:hidden; margin-top:10px; border:1px solid #C8C7BC;}
.main .shici .fanyi{ clear:both; margin-top:7px;  margin-left:10px; margin-right:10px; line-height:160%; font-size:18px; overflow:hidden;}
.main .shici .fanyi p{ margin-bottom:10px; font-size:18px;line-height:160%;}
.main .shici .fanyi a{ font-size:18px; color:#19537D; line-height:160%; text-decoration:underline;}
.main .shici .fanyi span{ font-size:18px;line-height:160%;}
.main .shici .fanyi .ca{ color:#518564;}
.main .shici .fanyi .cb{ color:#af9100;}
.main .shici .ckzl{ height:auto; clear:both; margin:20px; margin-left:5px; margin-right:5px; margin-top:0px; margin-bottom:15px; border-top:1px solid #DAD9D1; overflow:hidden; padding-top:10px;}
.main .shici .ckzl a{color:#919090;margin:0px; font-size:14px;line-height:160%;}
.main .shici .ckzl p{color:#919090;margin:0px; font-size:14px;line-height:160%;}

/*gushici-box center-end*/

/*ju-box*/
.main .ju{ height:auto; clear:both; background-color:#f7f1e8; overflow:hidden; margin-top:10px; padding-bottom:12px; border:1px solid #C8C7BC;}
.main .ju .ju-box{ height:auto; clear:both; margin:12px 10px 7px 10px; font-size:18px; line-height:160%; overflow:hidden; border-bottom:1px dashed #DAD9D1;}
.main .ju .ju-box p{ margin-bottom:10px; font-size:18px;line-height:160%;}
.main .ju .ju-box a{ font-size:18px;line-height:160%;}
.main .ju .ju-box span{ font-size:18px;line-height:160%;}
.main .ju .ju-box .juaa{ float:left; font-size:20px; line-height:30px;}
.main .ju .ju-box .juab{ color:#999999;font-size:14px; float:left; margin-top:5px; clear:both;}
/*zuozhe-box*/
.main .shici-pic{ height:auto; clear:both; background-color:#f7f1e8; overflow:hidden; margin-top:10px; border:1px solid #C8C7BC;}
.main .shici-pic .shici-pic-box{ height:auto; clear:both; font-size:14px; margin:12px 10px 10px 10px ; line-height:165%;overflow:hidden; font-size:18px;}
.main .shici-pic .shici-pic-box .divimg{float:left; width:105px; height:150px; margin-right:10px;}
.main .shici-pic .shici-pic-box p{ font-size:18px; margin-bottom:10px; line-height:165%;}
.main .shici-pic .shici-pic-box a{ font-size:18px; line-height:165%;}
.main .shici-pic .shici-pic-box span{ font-size:18px; line-height:165%;}
.main .shici-pic .tag{ height:auto; clear:both; margin:20px; margin-top:0px; margin-bottom:10px; border-top:1px solid #DAD9D1; overflow:hidden; padding-top:10px;}
.main .shici-pic .tag a{float:left; color:#999999; line-height:20px; height:20px; }
.main .shici-pic .tag span{float:left;color:#999999; line-height:20px; height:20px; }
.main .shici-pic .cankao{ height:auto; clear:both; margin:20px; margin-top:0px; margin-bottom:15px; border-top:1px solid #DAD9D1; overflow:hidden; padding-top:10px;}
/*book-box*/
.main .books{ height:auto; clear:both; background-color:#f7f1e8; overflow:hidden; margin-top:10px; border:1px solid #C8C7BC;}
.main .books .books-box{clear:both; border-bottom:1px solid #DAD9D1;overflow:hidden; padding-bottom:15px;float:left; margin-left:10px; margin-right:10px;}
.main .books .books-box dl{ padding:10px 0px 0px 0px;}
.main .books .books-box dl dt{ background-color:#faebd7;line-height:28px;vertical-align:middle;width:98%;text-align:center;font-size:16px;font-weight:bold;color: #65645F;float:left;margin:15px 5px 5px 5px;padding:5px ;border-bottom: 1px solid #DAD9D1;}
.main .books .books-box dl dd{ width:50%; background-image:url(/css/img/bookdoc.jpg); background-repeat:no-repeat; background-position:left center; margin-top:15px;float:left;margin-bottom: 5px;}
.main .books .books-box .bookMl{ clear:both; font-size:18px; color:#65645F; margin-top:10px;}
.main .books .books-box span{ width:50%; line-height:26px; height:26px; background-image:url(/css/img/bookdoc.jpg); background-repeat:no-repeat; background-position:left center; margin-top:15px;float:left;}
.main .books .books-box a{ margin-left:10px; font-size:18px; line-height:26px; height:26px; float:left;}

.main .gushici .bookvmiddle{ clear:both; height:32px; margin-top:10px; margin-bottom:10px; width:210px; margin-left:auto; margin-right:auto;}
.main .gushici .bookvmiddle a{ float:left; line-height:25px; height:25px; width:58px; border:1px solid #C5C5C5; text-align:center; margin-left:10px; font-size:14px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}

.main .xieSontitle{clear:both;height:34px; line-height:34px; border-bottom:1px solid #C8C7BC; margin-left:10px;}
.main .xieSontitle span{ float:left; margin-top:4px;}
.main .xieSongushici-box{clear:both;width:94%; overflow:hidden; margin-left:7px; margin-top:10px;}


.pages{clear:both; height:40px; margin-top:10px;}
.pages a{ float:left; margin-right:5px; line-height:40px; height:40px; width:66px; background-color:#f7f1e8; text-align:center; border:1px solid #C8C7BC;}
.pages span{ line-height:40px; height:40px; width:40px; float:left; text-align:center; background-color:#7C7B58; margin-right:5px; color:#f7f1e8; border:1px solid #C8C7BC;}


.pagelist{clear:both; height:40px; margin-top:10px;}
.pagelist a{float:right; margin-left:3%; line-height:40px; height:40px; width:20%; background-color:#f7f1e8; text-align:center; font-size:18px; border:1px solid #C8C7BC;}
.pagelist a:hover{ background-color:#f0efe2; text-decoration:none;}
.pagelist .amore{float:left; width:50%; margin-left:0px; text-align:center;}
.pagelist .tmore{color:#808080;background-color:#f7f1e8;width:20%;}
.pagelist .aomore{color:#808080;float:left; width:50%; margin-left:0px; text-align:center;background-color:#f0efe2;}
.pagelist .tomore{color:#808080;background-color:#f0efe2;width:20%;}
.pagelist span{ color:#676767; line-height:40px; height:40px; width:20%; font-size:18px; margin-left:2%; float:right; text-align:center; background-color:#f7f1e8; border:1px solid #C8C7BC;}
.pagelist select{
  color:#676767;background-color:#faebd7; font-size:14px; line-height:42px; height:42px; width:20%;  margin-left:5px; float:right; text-align:center; background-color:#f7f1e8; border:1px solid #C8C7BC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
}

.footer{width:100%; clear:both; color:#676767; margin-top:15px; text-align:center; border-top:1px solid #C8C7BC;padding-top:10px; padding-bottom:10px;}
.footer a{ color:#676767;}
/*more*/

.has-read-more {height:300px;position:relative;overflow:hidden}
.has-read-more .read-more {overflow:hidden;width:100%;position:absolute;bottom:0;height:100px;background-image:linear-gradient(180deg,rgba(247,241,232,0) 0%,#f7f1e8 100%);}
.more-btn {height:60px;text-align:center;line-height:60px;margin-left:10px}
.more-btn a {text-decoration:none;font-size:20px;cursor:pointer;color:#ca0c16}
/*json*/
.wordLink{color:#36a;cursor:pointer}
.poemNote{background-color:#f7f1e8;margin:1rem 4px 1rem 1rem;border:1px solid #C8C7BC;padding:0.5rem;line-height:1.6em;border-radius:4px;overflow-y:auto;color:#555;width:calc(100% - 3rem)}
.bold{background-color:#f7f1e8;border-bottom:1px solid #522020;margin:0 3px}
.poemTitle{color:#3b6e3a;background-color:#f2f2e7;padding:0.3rem 0px;line-height:1.8em;text-indent:2rem}
span.label{color:Maroon}
.close{width:24px;height:24px;line-height:24px;display:block;position:absolute;right:10px;top:10px;font-family:Helvetica,STHeiti;_font-family:'\u9ed1\u4f53','Book Antiqua',Palatino;font-size:22px;border-radius:20px;background:#734747;color:#FFF;box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-transition:linear .06s;-webkit-transition:linear .06s;transition:linear .06s;padding:0;text-align:center;text-decoration:none;outline:none}
.close:hover{cursor:pointer;width:28px;height:28px;line-height:28px;right:8px;top:8px;color:#FFF;box-shadow:0 1px 3px rgba(209,40,42,.5);background:#d1282a;border-radius:24px;transition:all 0.2s ease-out}
div.closeButton{float:right;background-color:#F5F5F5}
.commentCloser{position:absolute;right:2.1em;top:15.8em;z-index:3}
.citit{color:#3b6e3a;background-color:#ececd5;padding:0.3rem 0px;line-height:1.8em;font-size:16px;clear:both}
.cicont{margin-left:10px;margin-right:10px;margin-bottom:10px;font-size:18px}
span.chuzi{color:Maroon;font-size:16px!important;}
span.nums{color:#af2424}
span.book{color:#274627;font-style:oblique;font-size:16px!important;}
.ciinfo{color:#3b6e3a;background-color:#ececd5;padding:15px;line-height:1.5em;font-size:14px;margin-top:10px}
ul{display:block;list-style-type:disc;margin-block-start:0em;margin-block-end:1em;margin-inline-start:0px;margin-inline-end:0px;padding-inline-start:20px}
li{width:100%;display:list-item;text-align:-webkit-match-parent}
li.example{width:100%;color:#141580;margin:0.4rem 0;list-style-type:circle;line-height:1.5em}
span.charType{font-size:small;color:Olive}
span.zichuchu{float:right;color:Maroon}
/*json2021*/
span.jsciyi
{
	color: black;
	
}
span.jscier
{
	color: #8a3c03;
	
}
span.jscisan
{
	color: #023302;
	display: block;
	
}
.citit2 {
    font-size: 14px ;
	color: #c5653e;
}
.gc_cx {
    color: #fff;
    background-color: #ce653e;
    border-radius: 4px;
    padding: 2px;
    font-size: 100%;
    line-height: 1;
}
ol {
    list-style-position: outside;
    list-style-type: decimal;
    margin-left: 1.5em;
}
li::marker {
  content: "(" counter(list-item) "). "; 
  color: #af2424;
}